@using OnlineShop.Models.NewEmailModel
@*@model IEnumerable<City>*@
@inject OnlineShop.Services.DbRepository dB
@{
    ViewData["Title"] = "Checkout";
}

@section Head {
    <link href="~/css/chekout.css" rel="stylesheet" />
}


<div class="main-content">
    <main role="main">

        <div class="contact-container">
            <div class="title">Оформление заказа</div>
            <div>
                <div class="contacts-container">
                    <div class="wrap-buyers">
                        <label for="nameBuyer">Имя</label>
                        <input type="text" name="nameBuyer" />
                    </div>

                    <div class="wrap-buyers">
                        <label for="lastnameBuyer">Фамилия</label>
                        <input type="text" name="lastnameBuyer" />
                    </div>
                    <div class="wrap-buyers">
                        <label for="phoneBuyer">Телефон</label>
                        <input type="text" name="phoneBuyer" />

                    </div>
                    <div class="wrap-buyers">
                        <label for="cityBuyer">Город</label>
                        <input type="text" name="cityBuyer" />
                    </div>
                </div>
                <hr />
            </div>
        </div>

        <div class="order-container">
            <div class="order_header">
                <div class="title">Заказ № 1</div>
                <div class="order_summ">на сумму 170 грн.</div>
            </div>
            <hr />
            <div class="order-products">
                <div class="order-products_header mr-b">
                    <p>Товары</p>
                    <button>Редактировать</button>
                </div>
                <div class="order-products_body mr-b">
                    <div class="flex-container">
                        <span class="flex_item-middle">
                            <img src="~/files/images/default/56x56.png" alt="product img" />
                        </span>
                    </div>
                    <div class="flex-container">
                        <span class="flex_item-middle">
                            Name of product
                        </span>
                    </div>
                    <div class="flex-container">
                        <span class="flex_item-middle">
                            Table of product characteristics
                        </span>
                    </div>
                </div>
            </div>
            <hr />

            <div class="delivery">
                <p class="mr-b">Доставка</p>
                <select class="check_city mr-b">
                    <option disabled selected>Выберите город</option>
                    @foreach (var item in dB.Cities)
                    {
                        <option>@item.DescriptionRu</option>
                    }
                </select>
            </div>

            <hr />

            <div class="payment-container">

            </div>

            <hr />


        </div>

        <div class="contact-container">
            <div class="title">Контактные данные получателя заказа</div>
            <div>
                <div class="contacts-container">
                    <div class="wrap-buyers">
                        <label for="nameRecipient">Имя</label>
                        <input type="text" name="nameRecipient" />
                    </div>

                    <div class="wrap-buyers">
                        <label for="lastnameRecipient">Фамилия</label>
                        <input type="text" name="lastnameRecipient" />
                    </div>
                    <div class="wrap-buyers">
                        <label for="phoneRecipient">Телефон</label>
                        <input type="text" name="phoneRecipient" />

                    </div>
                    <div class="wrap-buyers">
                        <label for="cityRecipient">Город</label>
                        <input type="text" name="cityRecipient" />
                    </div>
                </div>
                <hr />
            </div>
        </div>

        @*@foreach (var item in dB.Cities)
            {
                <h6> @item.Ref</h6>
            }*@

    </main>
</div>

