@{
    ViewData["Title"] = "Subcategories";
}

@model IEnumerable<OnlineShop.Models.Subcategory>
@section Head {
    <link href="~/css/list_subcategories.css" rel="stylesheet" />
}

<div class="main-content">
    <main role="main">
        <div class="grid-container">
            @foreach (var item in Model)
            {
                <div class="card-subcategory card-subcategory_mr">
                    <a href="/home/listproducts?id=@item.Id">
                        <div class="card-subcategory__text card-subcategory__text_mr">@item.Name</div>
                        <div>
                            <img src="@item.ImagePath" alt="@item.Name" />
                        </div>
                    </a>
                </div>
            }
        </div>
    </main>
</div>