@{
    ViewData["Title"] = "Home Page";
}

@using OnlineShop.Services
@inject DbRepository dB

@section Head {
    <link href="~/css/index.css" rel="stylesheet" />
    <link href="~/css/owl.carousel.min.css" rel="stylesheet" />
    <link href="~/css/owl.theme.default.min.css" rel="stylesheet" />
}




<div class="main-content">
    <main role="main">

    </main>
</div>
