


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - OnlineShop</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />

    <link rel="stylesheet" href="~/css/owl.carousel.min.css" />
    <link rel="stylesheet" href="~/css/owl.theme.default.min.css" />
    <link rel="stylesheet" href="~/css/reset.css" />
    <link href="~/css/header.css" rel="stylesheet" />
</head>
<body>
    <header>
        <div class="navigation" id="navigation">
            <img class="navigation__logo"
                 src="~/img/icons/logo.svg"
                 alt="logo" />
            <ul class="navigation__menu menu">
                <li class="menu__item">
                    <a class="menu__link" href="#">Home</a>
                </li>
                <li class="menu__item"><a class="menu__link" href="#">Blog</a></li>

                <li class="menu__item"><a class="menu__link" href="#">About</a></li>
            </ul>
            <div class="navigation__images">
                <img class="navigation__image"
                     src="~/img/icons/account.svg"
                     alt="account" />
                <img class="navigation__image"
                     src="~/img/icons/like.svg"
                     alt="favorites" />
                <img class="navigation__image"
                     src="~/img/icons/shopping-cart.svg"
                     alt="shopping-cart" />
            </div>
        </div>
    </header>
    <div class="main-content">
        <main role="main">
            @RenderBody()
        </main>
    </div>
    <footer style="min-width:100px" class="border-top footer text-muted">
        <div class="navigation" id="navigationFooter">
            <ul class="navigation__menu menu text-center" >
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Product" asp-action="LoadFile">Add Product</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Subcategory" asp-action="Create">Create Subcategory</a>
                </li>
            </ul>
        </div>
    </footer>

    @*<script src="~/lib/jquery/dist/jquery.min.js"></script>*@
    @*<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>*@
    <script src="~/js/app.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
