.mr-b {
    margin-bottom: 1rem;
}

.main-content {
    max-width: 90%;
}

.flex-container {
    display: flex;
}

.flex_item-middle {
    align-self: center;
}

.contact-container {
    display: flex;
    flex-direction: column;
}

.title {
    font-size: 2rem;
}

.contacts-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-column-gap: 2rem;
    grid-row-gap: 1rem;
}

.wrap-buyers input {
    width: 100%;
}

.order_header {
    display: flex;
    justify-content: space-between;
}

.order-products_header {
    display: flex;
    justify-content: space-between;
}

.order-products_body {
    display: grid;
    grid-template-columns: 0.7fr 2fr 2fr;
}

.check_city {
    width: 100%
}